<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/dashboard.css">
    <style media="screen">
        .nav-sidebar > .active > a{
            background-color:#a94442
        }
    </style>
    <title>Dashboard</title>
  </head>
  <body onload="loadHtml()">
  <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#3c763d" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" style="color:#ffffff;font-size:18px" >Bookmarker</a>
          </div>
          <div  id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a onclick="" style="color:#ffffff;font-size:16px">Hi! Sean</a>
                  </li>
                  <li>
                      <a onclick="" style="color:#ffffff;font-size:16px">Sign out</a>
                  </li>
                  <li>
                      <a></a>
                  </li>
              </ul>

          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                  <li class="active" >
                      <a href="#">Overview</a>
                  </li>
                  <li>
                      <a href="#">Books</a>
                  </li>
              </ul>
          </div>

      </div>

  </div>
  </body>
  <script type="text/javascript">

  function loadHtml (){
      if (sessionStorage["token"]){
      } else {
          location.href = '/view/welcome';
      }
  }
  </script>
</html>
