<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/signin.css">
    <title>welcome Bookmarker</title>
  </head>
  <body>
      <div class="container">
          <p style="font-size:75px;text-align:center">Bookmarker</p>
          <h5 style="text-align:center">Records your learning process.</p>
          <form class="form-signin" action="dashboard" method="post">
              <h2 class="form-signin-heading">Please sign in</h2>
              <label for="account" class="sr-only">Account</label>
              <input type="text" id="account" name="account" class="form-control" placeholder="Account">
              <label for="passwd" class="sr-only">Password</label>
              <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Password">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>

      </div>
  </nav>
  </body>
  <script type="text/javascript">
  </script>
</html>
