<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/dashboard.css">
    <script src="../bower_components/vue/dist/vue.min.js"></script>
    <script src="../bower_components/vue-resource/dist/vue-resource.min.js"></script>

    <style media="screen">
        .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
            background-color:#a94442
        }
        .progress-bar-success{
            background-color:#3c763d
        }
        .updatebtn{
            background-image:linear-gradient(to bottom,#3c763d 0,#3c763d 100%);
            border-color:#ffffff;
            color:#ffffff;
        }
        .cancelbtn{
            background-image:linear-gradient(to bottom,#d9534f 0,#d9534f 100%);
            border-color:#ffffff;
            color:#ffffff;
        }
        .deletebtn{
            background-image:linear-gradient(to bottom,#d9534f 0,#d9534f 100%);
            border-color:#ffffff;
            color:#ffffff;
        }
        .confirmbtn{
            background-image:linear-gradient(to bottom,#337ab7 0,#337ab7 100%);
            border-color:#ffffff;
            color: #ffffff;
        }
        .btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover,.btn:hover {
            outline: 0 none;
            color:#ffffff;
        }

    </style>
    <title>Dashboard</title>
  </head>
  <body>
      <div id="app">
          <div  class="navbar navbar-inverse navbar-fixed-top" style="background-color:#3c763d" role="navigation">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <a class="navbar-brand" style="color:#ffffff;font-size:18px" >Bookmarker</a>
                  </div>
                  <div  id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a style="color:#ffffff;font-size:16px">Hi! {{username}} </a>
                          </li>
                          <li>
                              <a href="#" v-on:click="signout" style="color:#ffffff;font-size:16px">Sign out</a>
                          </li>
                          <li>
                              <a></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                      <ul class="nav nav-sidebar">
                        <li v-bind:class="{ active: overviewActive }" >
                            <a v-on:click="showOverview" href="#">Overview</a>
                        </li>
                        <li v-bind:class="{ active: booksviewActive }">
                            <a  v-on:click="showBooksview" href="#">Books</a>
                        </li>
                    </ul>
                </div>
                <div id="overview" v-if="overviewActive">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <div class="row">
                            <div class="col-md-4">
                                <p style="font-size:20px">Reading:</p>
                                <p style="font-size:55px" v-if="overviewReadingBookCount < 2">{{overviewReadingBookCount}}<span style="font-size:20px"> book.</span></p>
                                <p style="font-size:55px" v-if="overviewReadingBookCount > 1">{{overviewReadingBookCount}}<span style="font-size:20px"> books.</span></p>

                            </div>
                            <div class="col-md-4">
                                <p style="font-size:20px">Have recorded:</p>
                                <p style="font-size:55px" v-if="overviewBookRecordCount < 2 " >{{overviewBookRecordCount}}<span style="font-size:20px"> time.</span></p>
                                <p style="font-size:55px" v-if="overviewBookRecordCount > 1">{{overviewBookRecordCount}}<span style="font-size:20px"> times.</span></p>

                            </div>
                            <div class="col-md-4">
                                <p style="font-size:20px">Have read:</p>
                                <p style="font-size:55px" v-if="overviewReadCount < 2">{{overviewReadCount}}<span style="font-size:20px"> book.</span></p>
                                <p style="font-size:55px" v-if="overviewReadCount > 1">{{overviewReadCount}}<span style="font-size:20px"> books.</span></p>

                            </div>
                        </div>
                        <br/>
                        <div id="category" v-for="category in categorys" v-bind:value="category.value">
                            <h1 class="page-header">{{category}}</h1>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="35%">Title</th>
                                            <th>Progress</th>
                                            <th width="15%">Pages</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(book, index) in overviewList[category]" v-bind:value="book.value">
                                            <td >{{index + 1}}</td>
                                            <td>{{book.title}}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: ((book.read / book.pages) * 100).toFixed(1) + '%' }">{{((book.read / book.pages) * 100).toFixed(1) }}%</div>
                                                </div>
                                            </td>
                                            <td>{{book.read}}/{{book.pages}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Booksview" v-if="booksviewActive">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <button v-if="addBookTag == false" v-on:click="addBook" class="btn updatebtn" style="float:right">Add a book</button>
                        <div v-if="addBookTag">
                            <button v-on:click="comfirmAddBook" class="btn confirmbtn" style="float:right">Confirm</button>
                            <button v-on:click="cancelAddBook" class="btn cancelbtn" style="float:right">Cancel</button>
                            <div class="row">
                                <div class="col-md-3">
                                    <p style="font-size:15px">Title: <span><input type="text" size="20" value="updateBookTitle" v-model="updateBookTitle" ></span></p>
                                </div>
                                <div class="col-md-2">
                                    <p style="font-size:15px">Pages: <span><input type="text" size="5" value="updatePages" v-model="updatePages" ></span></p>
                                </div>
                                <div class="col-md-2">
                                    <p style="font-size:15px">Category: <span><input type="text" size="5" value="updateCategory" v-model="updateCategory"></span></p>
                                </div>
                            </div>
                            <p style="font-size:15px">Description:</p>
                            <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                        </div>
                        <div id="Category" v-for="category in categorys" v-bind:value="category.value">
                            <h1 class="page-header">{{category}}</h1>
                            <div id="Booksviewlist" v-for="(book, index) in overviewList[category]" v-bind:value="book.value">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="font-size:20px">{{book.title}}</div>
                                    <div class="panel-body">
                                        <button v-on:click="deleteBook(book.category, index)" class="btn deletebtn" style="float:right" v-if="(book.updateTag || book.deleteTag) != true">Delete</button>
                                        <button v-on:click="updateBook(book.category,index, book.title, book.pages, book.description)" class="btn updatebtn" style="float:right" v-if="(book.updateTag || book.deleteTag) != true">Update</button>
                                        <button v-on:click="confirmBook(book.category, index)" class="btn confirmbtn" style="float:right" v-if="(book.updateTag || book.deleteTag)">Confirm</button>
                                        <button v-on:click="cancelBook(book.category,index)" class="btn cancelbtn" style="float:right" v-if="(book.updateTag || book.deleteTag)">Cancel</button>

                                        <div id="bookinfo" v-if="book.updateTag != true">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Started from: {{book.CreatedAt.split('T')[0]}}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Pages: {{book.pages}}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Category: {{book.category}}</p>
                                                </div>
                                            </div>
                                            <p style="font-size:15px">Progress:</p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: ((book.read / book.pages) * 100).toFixed(1) + '%' }">{{((book.read / book.pages) * 100).toFixed(1) }}%</div>
                                            </div>
                                            <p style="font-size:15px">Description:</p>
                                            <div class="container">
                                                {{book.description}}
                                            </div>
                                        </div>
                                        <div id="bookinfoupdate" v-if="book.updateTag">
                                            <div class="row">
                                                <div class=" col-md-2">
                                                    <p style="font-size:15px">Started from: {{book.CreatedAt.split('T')[0]}}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Title: <span><input type="text" size="20" value="updateBookTitle" v-model="updateBookTitle" ></span></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p style="font-size:15px">Pages: <span><input type="text" size="5" value="updatePages" v-model="updatePages" ></span></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p style="font-size:15px">Category: <span><input type="text" size="5" value="updateCategory" v-model="updateCategory"></span></p>
                                                </div>
                                            </div>
                                            <p style="font-size:15px">Progress:</p>
                                            <div class="progress" style="">
                                                <div class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: ((book.read / book.pages) * 100).toFixed(1) + '%' }">{{((book.read / book.pages) * 100).toFixed(1) }}%</div>
                                            </div>
                                            <p style="font-size:15px">Description:</p>
                                            <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                                        </div>
                                    </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th >#</th>
                                                    <th width="10%">Date</th>
                                                    <th width="8%">Pages</th>
                                                    <th >Note</th>
                                                    <th width="18%"></th>
                                                </tr>
                                            </thead>
                                            <tbody v-for="(record, index2) in book.records" v-bind:value="record.value">
                                                <tr v-if="record.updateTag != true">
                                                    <td>{{index2 + 1}}</td>
                                                    <td>{{record.CreatedAt.split('T')[0]}}</td>
                                                    <td>{{record.pages}}</td>
                                                    <td>{{record.note}}</td>
                                                    <td>
                                                        <button v-if="record.deleteTag != true" v-on:click="deleteRecord(category, index, index2)" class="btn deletebtn" style="float:right" >Delete</button>
                                                        <button v-if="record.deleteTag != true" v-on:click="updateRecord(category, index, index2, record.pages, record.note)" class="btn updatebtn" style="float:right" >Update</button>
                                                        <button v-if="record.deleteTag" v-on:click="confirmRecord(book.category, index, index2)" class="btn confirmbtn" style="float:right" >Confirm</button>
                                                        <button v-if="record.deleteTag" v-on:click="cancelRecord(book.category,index, index2)" class="btn cancelbtn" style="float:right">Cancel</button>
                                                    </td>
                                                    </td>
                                                </tr>

                                                <tr v-if="(record.updateTag)">
                                                    <td>{{index2 + 1}}</td>
                                                    <td>{{record.CreatedAt.split('T')[0]}}</td>
                                                    <td>
                                                        <input type="text" size="5" value="updatePages" v-model="updatePages" >
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                                                    </td>
                                                    <td>
                                                        <button v-on:click="confirmRecord(book.category, index, index2)" class="btn confirmbtn" style="float:right" >Confirm</button>
                                                        <button v-on:click="cancelRecord(book.category,index, index2)" class="btn cancelbtn" style="float:right">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr v-if="book.addRecordTag != true">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button v-on:click="addRecord(category,index)" class="btn confirmbtn" style="float:right" >Add a record</button>
                                                    </td>
                                                </tr>
                                                <tr v-if="book.addRecordTag">
                                                    <td>#</td>
                                                    <td>#</td>
                                                    <td>
                                                        <input type="text" size="5" value="updatePages" v-model="updatePages" >
                                                    </td>
                                                    <td>
                                                        <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                                                    </td>
                                                    <td>
                                                        <button v-on:click="confirmAddRecord(category, index)" class="btn confirmbtn" style="float:right" >Confirm</button>
                                                        <button v-on:click="cancelAddRecord(category,index)" class="btn cancelbtn" style="float:right">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </body>
  <script type="text/javascript">
  //Vue.http.options.emulateJSON = true;
  var count = 0;
  var app = new Vue({
      el:'#app',
      data:{
          username: "",
          addBookTag: false,
          overviewActive: true,
          booksviewActive: false,
          overviewReadingBookCount: 0,
          overviewBookRecordCount: 0,
          overviewReadCount: 0,
          categorys:[],
          overviewList:{},
          updateLock:false,
          deleteLock:false,
          addLock:false,
          updatePages:0,
          updateDescription:"",
          updateCategory:"",
          updateBookTitle:""
      },
      created: function () {
          this.$http.get("http://127.0.0.1:8080/api/v1/users/info?token="+sessionStorage["token"]).then((response) => {
              this.username = response.data["name"];
              this.getBooks();
          },(response) => {
              sessionStorage.clear();
              location.href = '/templates/welcome.html';
          })
      },
      methods:{
          getBooks: function () {
              this.overviewList = {};
              readingBookCount = 0;
              bookRecordCount = 0;
              readCount = 0;
              this.$http.get("http://127.0.0.1:8080/api/v1/books/infos?token=" + sessionStorage["token"]).then((response) => {
                  var books = response.data["books"];
                  for(i=0; i < books.length; i++){
                      var read = 0;
                      books[i].updateTag = false;
                      books[i].deleteTag = false;
                      books[i].addRecordTag = false;
                      for(j=0;j<books[i].records.length;j++) {
                          bookRecordCount++;
                          read += books[i].records[j].pages;
                          books[i].records[j].updateTag = false;
                          books[i].records[j].deleteTag = false;
                      }
                      books[i]["read"] = read;

                      if (read < books[i].pages){
                          readingBookCount++;
                      } else {
                          readCount++;
                      }
                      if (typeof this.overviewList[books[i].category] !== 'undefined'){
                          this.overviewList[books[i].category].push(books[i]);
                      } else {
                          this.overviewList[books[i].category] = [books[i]];
                      }
                  }

                  var keys = [];
                  for (var key in this.overviewList) {
                      keys.push(key);
                  }
                  this.overviewReadingBookCount = readingBookCount;
                  this.overviewBookRecordCount = bookRecordCount;
                  this.overviewReadCount = readCount;
                  this.categorys = keys;
              },(response) => {
                  sessionStorage.clear();
                  location.href = '/templates/welcome.html';
              })
          },
          signout: function () {
              sessionStorage.clear();
              location.href = '/templates/welcome.html';
          },
          openLock: function () {
              this.updateLock = false;
              this.deleteLock = false;
              this.addLock = false;
          },
          closeLock: function () {
              this.updateLock = true;
              this.deleteLock = true;
              this.addLock = true;
          },
          showOverview : function () {
              this.overviewActive = true;
              this.booksviewActive = false;
          },
          showBooksview : function () {
              this.overviewActive = false;
              this.booksviewActive = true;
          },
          resetVarBooksview : function () {
              this.updatePages=0;
              this.updateDescription="";
              this.updateCategory="";
              this.updateBookTitle="";
          },
          refreshBooksview : function () {
              this.booksviewActive = false;
              this.booksviewActive = true;
          },
          updateBook : function (category, index, title, pages, description) {
              if (this.updateLock != true){
                  this.overviewList[category][index].updateTag = true;
                  this.updatePages = pages;
                  this.updateDescription = description;
                  this.updateBookTitle = title;
                  this.updateCategory = category;
                  this.refreshBooksview();
                  this.closeLock();
              }
          },
          deleteBook : function (category, index) {
              if (this.deleteLock != true){
                  this.overviewList[category][index].deleteTag = true;
                  this.refreshBooksview();
                  this.closeLock();
              }
          },
          cancelBook : function (category, index){
              this.overviewList[category][index].updateTag = false;
              this.overviewList[category][index].deleteTag = false;
              this.resetVarBooksview();
              this.openLock();
              this.refreshBooksview();

          },
          confirmBook : function (category, index){
              if (this.overviewList[category][index].updateTag) {
                  var updateBody = {
                      "token":sessionStorage["token"],
                      "bookID":this.overviewList[category][index].ID,
                      "title":this.updateBookTitle,
                      "category":this.updateCategory,
                      "pages":parseInt(this.updatePages),
                      "description":this.updateDescription
                  }
                  this.$http.put("http://127.0.0.1:8080/api/v1/books/update",updateBody).then((response) => {

                      this.overviewList[category][index].pages =  updateBody.pages;
                      this.overviewList[category][index].title = updateBody.title;
                      this.overviewList[category][index].category = updateBody.category;
                      this.overviewList[category][index].description = updateBody.description;
                      if (updateBody.category !== category) {
                          this.overviewList = {};
                          this.getBooks();
                      }
                      this.resetVarBooksview();
                  },(response) => {
                      alert(response.data["error"])
                  })
              } else if (this.overviewList[category][index].deleteTag){
                  var deleteBody = {
                      "token":sessionStorage["token"],
                      "bookID":this.overviewList[category][index].ID
                  }
                  this.$http.delete("http://127.0.0.1:8080/api/v1/books/delete",{body: deleteBody}).then((response) => {
                      this.overviewList = {};
                      this.getBooks();
                  },(response) => {
                      alert(response.data["error"])
                  })
              }
              this.overviewList[category][index].updateTag = false;
              this.overviewList[category][index].deleteTag = false;
              this.openLock();
          },
          addBook : function () {

              if (!this.addLock) {
                  this.addBookTag = true;
                  this.updatePages=1;
                  this.closeLock();
                  this.refreshBooksview();
              }
          },
          cancelAddBook : function () {
              this.addBookTag = false;
              this.resetVarBooksview();
              this.openLock();
              this.refreshBooksview();

          },
          comfirmAddBook : function () {
              var createBody = {
                  "token": sessionStorage["token"],
                  "title":this.updateBookTitle,
                  "category":this.updateCategory,
                  "pages":parseInt(this.updatePages),
                  "description":this.updateDescription
              }

              this.$http.post("http://127.0.0.1:8080/api/v1/books/create",createBody).then((response) => {
                  this.getBooks();
              },(response) => {
                  alert(response.data["error"])
              })

              this.addBookTag = false;
              this.resetVarBooksview();
              this.openLock();
              this.refreshBooksview();
          },
          addRecord : function (category, index) {
              if (this.addLock != true){
                  this.overviewList[category][index].addRecordTag = true;
                  this.closeLock();
                  this.refreshBooksview();
              }
          },
          cancelAddRecord : function (category, index) {
              this.overviewList[category][index].addRecordTag = false;
              this.openLock();
              this.refreshBooksview();
          },
          confirmAddRecord : function (category, index) {
              var createBody = {
                  "token":sessionStorage["token"],
                  "bookID":this.overviewList[category][index].ID,
                  "pages":parseInt(this.updatePages),
                  "note":this.updateDescription
              }

              this.$http.post("http://127.0.0.1:8080/api/v1/bookrecords/create",createBody).then((response) => {
                   this.overviewList = {};
                   this.getBooks();
              },(response)=>{
                  alert(response.data["error"])
              })

              this.overviewList[category][index].addRecordTag = false;
              this.resetVarBooksview();
              this.openLock();
          },
          updateRecord : function (category, index, n, pages, note) {
              if (this.updateLock != true){
                  this.overviewList[category][index]['records'][n].updateTag = true;
                  this.updatePages = pages;
                  this.updateDescription = note;
                  this.closeLock();
                  this.refreshBooksview();
              }
          },
          deleteRecord : function (category, index, n) {
              if (this.deleteLock != true){
                  this.overviewList[category][index]['records'][n].deleteTag = true;
                  this.openLock();
                  this.refreshBooksview();
              }
          },
          cancelRecord : function (category, index, n){
              this.overviewList[category][index]['records'][n].updateTag = false;
              this.overviewList[category][index]['records'][n].deleteTag = false;
              this.openLock();
              this.refreshBooksview();
          },
          confirmRecord : function (category, index, n){
              if (this.overviewList[category][index]['records'][n].updateTag) {
                  var updateBody = {
                      "token":sessionStorage["token"],
                      "bookID":this.overviewList[category][index].ID,
                      "recordID":this.overviewList[category][index]['records'][n].ID,
                      "pages":parseInt(this.updatePages),
                      "note":this.updateDescription
                  }

                  this.$http.put("http://127.0.0.1:8080/api/v1/bookrecords/update",updateBody).then((response) => {
                      this.overviewList[category][index].read -= this.overviewList[category][index]['records'][n].pages;
                      this.overviewList[category][index].read += updateBody.pages;
                      this.overviewList[category][index]['records'][n].pages = updateBody.pages;
                      this.overviewList[category][index]['records'][n].note = updateBody.note;
                      this.refreshBooksview();
                  },(response) => {
                      alert(response.data["error"])
                  })
                  this.resetVarBooksview();

              } else if (this.overviewList[category][index]['records'][n].deleteTag){
                  var deleteBody = {
                      "token":sessionStorage["token"],
                      "bookID":this.overviewList[category][index].ID,
                      "recordID":this.overviewList[category][index]['records'][n].ID
                  }
                  this.$http.delete("http://127.0.0.1:8080/api/v1/bookrecords/delete",{body: deleteBody}).then((response) => {
                      this.overviewList[category][index].read -= this.overviewList[category][index]['records'][n].pages;
                      Vue.delete(this.overviewList[category][index]['records'],n);
                      this.refreshBooksview();
                  },(response) => {
                      alert(response.data["error"])
                  })
              }
              this.overviewList[category][index]['records'][n].updateTag = false;
              this.overviewList[category][index]['records'].deleteTag = false;
              this.openLock();

          }
      }
  })
  </script>
</html>
