<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/dashboard.css">
    <script src="../bower_components/vue/dist/vue.min.js"></script>
    <script src="../bower_components/vue-resource/dist/vue-resource.min.js"></script>

    <style media="screen">
        .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
            background-color:#a94442
        }
        .progress-bar-success{
            background-color:#3c763d
        }
        .updatebtn{
            background-image:linear-gradient(to bottom,#3c763d 0,#3c763d 100%);
            border-color:#ffffff;
            color:#ffffff;
        }
        .cancelbtn{
            background-image:linear-gradient(to bottom,#d9534f 0,#d9534f 100%);
            border-color:#ffffff;
            color:#ffffff;
        }
        .deletebtn{
            background-image:linear-gradient(to bottom,#d9534f 0,#d9534f 100%);
            border-color:#ffffff;
            color:#ffffff;
        }
        .confirmbtn{
            background-image:linear-gradient(to bottom,#337ab7 0,#337ab7 100%);
            border-color:#ffffff;
            color: #ffffff;
        }
        .btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover,.btn:hover {
            outline: 0 none;
            color:#ffffff;
        }
    </style>
    <title>Dashboard</title>
  </head>
  <body>
      <div id="app">
          <div  class="navbar navbar-inverse navbar-fixed-top" style="background-color:#3c763d" role="navigation">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <a class="navbar-brand" style="color:#ffffff;font-size:18px" >Bookmarker</a>
                  </div>
                  <div  id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a style="color:#ffffff;font-size:16px">Hi! {{username}} </a>
                          </li>
                          <li>
                              <a href="#" v-on:click="signout" style="color:#ffffff;font-size:16px">Sign out</a>
                          </li>
                          <li>
                              <a></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                      <ul class="nav nav-sidebar">
                        <li v-bind:class="{ active: overviewActive }" >
                            <a v-on:click="showOverview" href="#">Overview</a>
                        </li>
                        <li v-bind:class="{ active: booksviewActive }">
                            <a  v-on:click="showBooksview" href="#">Books</a>
                        </li>
                    </ul>
                </div>
                <div id="overview" v-if="overviewActive">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <div class="row">
                            <div class="col-md-4">
                                <p style="font-size:20px">Reading:</p>
                                <p style="font-size:55px">{{overviewReadingBookCount}}<span style="font-size:20px"> books.</span></p>
                            </div>
                            <div class="col-md-4">
                                <p style="font-size:20px">Have recorded:</p>
                                <p style="font-size:55px">{{overviewBookRecordCount}}<span style="font-size:20px"> times.</span></p>
                            </div>
                            <div class="col-md-4">
                                <p style="font-size:20px">Have read:</p>
                                <p style="font-size:55px">{{overviewReadCount}}<span style="font-size:20px"> books.</span></p>
                            </div>
                        </div>
                        <br/>
                        <div id="category" v-for="category in categorys">
                            <h1 class="page-header">{{category}}</h1>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="25%">Name</th>
                                            <th>Progress</th>
                                            <th width="10%">Pages</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(book, index) in overviewList[category]">
                                            <td >{{index + 1}}</td>
                                            <td>{{book.name}}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: ((book.read / book.pages) * 100).toFixed(1) + '%' }">{{((book.read / book.pages) * 100).toFixed(1) }}%</div>
                                                </div>
                                            </td>
                                            <td>{{book.read}}/{{book.pages}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Booksview" v-if="booksviewActive">
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <div id="Category" v-for="category in categorys">
                            <button v-on:click="" class="btn updatebtn" style="float:right">Add a book</button>
                            <div v-if="addBookTag">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p style="font-size:15px">Name: <span><input type="text" size="20" value="updateBookName" v-model="updateBookName" ></span></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="font-size:15px">Pages: <span><input type="text" size="5" value="updatePages" v-model="updatePages" ></span></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="font-size:15px">Category: <span><input type="text" size="5" value="updateCategory" v-model="updateCategory"></span></p>
                                    </div>
                                </div>
                                <p style="font-size:15px">Description:</p>
                                <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                            </div>
                            <h1 class="page-header">{{category}}</h1>
                            <div id="Booksviewlist" v-for="(book, index) in overviewList[category]">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="font-size:20px">{{book.name}}</div>
                                    <div class="panel-body">
                                        <button v-on:click="deleteBook(category, index)" class="btn deletebtn" style="float:right" v-if="(book.updateTag || book.deleteTag) != true">Delete</button>
                                        <button v-on:click="updateBook(category,index, book.name, book.pages, book.description)" class="btn updatebtn" style="float:right" v-if="(book.updateTag || book.deleteTag) != true">Update</button>
                                        <button v-on:click="confirmBook(category, index)" class="btn confirmbtn" style="float:right" v-if="(book.updateTag || book.deleteTag)">Confirm</button>
                                        <button v-on:click="cancelBook(category,index)" class="btn cancelbtn" style="float:right" v-if="(book.updateTag || book.deleteTag)">Cancel</button>

                                        <div id="bookinfo" v-if="book.updateTag != true">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">CreateAt: {{book.CreatedAt.split('T')[0]}}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Pages: {{book.pages}}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Category: {{category}}</p>
                                                </div>
                                            </div>
                                            <p style="font-size:15px">Progress:</p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: ((book.read / book.pages) * 100).toFixed(1) + '%' }">{{((book.read / book.pages) * 100).toFixed(1) }}%</div>
                                            </div>
                                            <p style="font-size:15px">Description:</p>
                                            <div class="container">
                                                {{book.description}}
                                            </div>
                                        </div>
                                        <div id="bookinfoupdate" v-if="book.updateTag">
                                            <div class="row">
                                                <div class=" col-md-2">
                                                    <p style="font-size:15px">CreateAt: {{book.CreatedAt.split('T')[0]}}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="font-size:15px">Name: <span><input type="text" size="20" value="updateBookName" v-model="updateBookName" ></span></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p style="font-size:15px">Pages: <span><input type="text" size="5" value="updatePages" v-model="updatePages" ></span></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p style="font-size:15px">Category: <span><input type="text" size="5" value="updateCategory" v-model="updateCategory"></span></p>
                                                </div>
                                            </div>
                                            <p style="font-size:15px">Progress:</p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" v-bind:style="{ width: ((book.read / book.pages) * 100).toFixed(1) + '%' }">{{((book.read / book.pages) * 100).toFixed(1) }}%</div>
                                            </div>
                                            <p style="font-size:15px">Description:</p>
                                            <div class="container">
                                                {{book.description}}
                                            </div>
                                            <p style="font-size:15px">Description:</p>
                                            <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                                        </div>
                                    </div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th >#</th>
                                                    <th >Time</th>
                                                    <th >Pages</th>
                                                    <th >Note</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody v-for="(record, index2) in book['records']">
                                                <tr v-if="record.updateTag != true">
                                                    <th>{{index2 + 1}}</th>
                                                    <th>{{record.CreatedAt.split('T')[0]}}</th>
                                                    <th>{{record.pages}}</th>
                                                    <th>{{record.note}}</th>
                                                    <th>
                                                        <button v-on:click="deleteRecord(category, index, index2)" class="btn deletebtn" style="float:right" >Delete</button>
                                                        <button v-on:click="updateRecord(category, index, index2, record.pages, record.note)" class="btn updatebtn" style="float:right" >Update</button>
                                                    </th>
                                                </tr>
                                                <tr v-if="(record.updateTag)">
                                                    <th>{{index2 + 1}}</th>
                                                    <th>{{record.CreatedAt.split('T')[0]}}</th>
                                                    <th>
                                                        <input type="text" size="5" value="updatePages" v-model="updatePages" >
                                                    </th>
                                                    <th>
                                                        <textarea class="form-control" type="text" value="updateDescription" v-model="updateDescription"></textarea>
                                                    </th>
                                                    <th>
                                                        <button v-on:click="confirmRecord(category, index, index2)" class="btn confirmbtn" style="float:right" >Confirm</button>
                                                        <button v-on:click="cancelRecord(category,index, index2)" class="btn cancelbtn" style="float:right">Cancel</button>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </body>
  <script type="text/javascript">
  //Vue.http.options.emulateJSON = true;
  var count = 0;
  var app = new Vue({
      el:'#app',
      data:{
          username: "",
          addBookTag: false,
          overviewActive: true,
          booksviewActive: false,
          overviewReadingBookCount: 0,
          overviewBookRecordCount: 0,
          overviewReadCount: 0,
          categorys:[],
          overviewList:{},
          updateLock:false,
          deleteLock:false,
          updatePages:0,
          updateDescription:"",
          updateCategory:"",
          updateBookName:""
      },
      created: function () {
          var vm = this
          vm.$http.get("http://127.0.0.1:8080/api/v1/users/info?token="+sessionStorage["token"]).then((response) => {
              this.username = response.data["name"];
              vm.getBooks();
          },(response) => {
              sessionStorage.clear();
              location.href = '/templates/welcome.html';
          })
      },
      methods:{
          getBooks: function () {
              var vm = this;
              readingBookCount = 0;
              bookRecordCount = 0;
              readCount = 0;
              vm.$http.get("http://127.0.0.1:8080/api/v1/books/infos?token=" + sessionStorage["token"]).then((response) => {
                  var books = response.data["books"];
                  for(i=0; i < books.length; i++){
                      var read = 0;
                      books[i].updateTag = false;
                      books[i].deleteTag = false;
                      for(j=0;j<books[i].records.length;j++) {
                          bookRecordCount++;
                          read += books[i].records[j].pages;
                          books[i].records[j].updateTag = false;
                          books[i].records[j].deleteTag = false;
                      }
                      books[i]["read"] = read;

                      if (read < books[i].pages){
                          readingBookCount++;
                      } else {
                          readCount++;
                      }
                      if (typeof this.overviewList[books[i].category] !== 'undefined'){
                          vm.overviewList[books[i].category].push(books[i]);
                      } else {
                          vm.overviewList[books[i].category] = [books[i]];
                      }
                  }

                  var keys = [];
                  for (var key in vm.overviewList) {
                      keys.push(key);
                  }
                  vm.overviewReadingBookCount = readingBookCount;
                  vm.overviewBookRecordCount = bookRecordCount;
                  vm.overviewReadCount = readCount;
                  vm.categorys = keys;
              },(response) => {
                  sessionStorage.clear();
                  location.href = '/templates/welcome.html';
              })
          },
          signout: function () {
              sessionStorage.clear();
              location.href = '/templates/welcome.html';
          },
          showOverview : function () {
              this.overviewActive = true;
              this.booksviewActive = false;
          },
          showBooksview : function () {
              this.overviewActive = false;
              this.booksviewActive = true;
          },
          updateBook : function (category, index, name, pages, description) {
              if (this.updateLock != true){
                  this.overviewList[category][index].updateTag = true;
                  this.updatePages = pages;
                  this.updateDescription = description;
                  this.updateBookName = name;
                  this.updateCategory = category;
                  this.booksviewActive = false;
                  this.booksviewActive = true;

                  this.updateLock = true;
              }
          },
          deleteBook : function (category, index) {
              if (this.deleteLock != true){
                  this.overviewList[category][index].deleteTag = true;
                  this.booksviewActive = false;
                  this.booksviewActive = true;

                  this.deleteLock = true;
              }
          },
          cancelBook : function (category, index){
              this.overviewList[category][index].updateTag = false;
              this.overviewList[category][index].deleteTag = false;
              this.updateLock = false;
              this.deleteLock = false;
              this.booksviewActive = false;
              this.booksviewActive = true;
          },
          //status 0 = update, 1=delele
          confirmBook : function (category, index){
              if (this.overviewList[category][index].updateTag) {
                  var vm = this;
                  var updateBody = {
                      "token":sessionStorage["token"],
                      "bookID":vm.overviewList[category][index].ID,
                      "name":vm.updateBookName,
                      "category":vm.updateCategory,
                      "pages":parseInt(vm.updatePages),
                      "description":vm.updateDescription
                  }
                  vm.$http.put("http://127.0.0.1:8080/api/v1/books/update",updateBody).then((response) => {
                      this.overviewList = {};
                      this.updatePages=0;
                      this.updateDescription="";
                      this.updateCategory="";
                      this.updateBookName="";
                      vm.getBooks();
                  },(response) => {
                      alert(response.data["error"])
                  })
              } else if (this.overviewList[category][index].deleteTag){
                  var vm = this;
                  var deleteBody = {
                      "token":sessionStorage["token"],
                      "bookID":this.overviewList[category][index].ID
                  }
                  vm.$http.delete("http://127.0.0.1:8080/api/v1/books/delete",{body: deleteBody}).then((response) => {
                      this.overviewList = {};
                      vm.getBooks();
                  },(response) => {
                      alert(response.data["error"])
                  })
              }
              this.overviewList[category][index].updateTag = false;
              this.overviewList[category][index].deleteTag = false;
              this.updateLock = false;
              this.deleteLock = false;
          },
          updateRecord : function (category, index, n, pages, note) {
              if (this.updateLock != true){
                  this.overviewList[category][index]['records'][n].updateTag = true;
                  this.updatePages = pages;
                  this.updateDescription = note;

                  this.booksviewActive = false;
                  this.booksviewActive = true;
                  this.updateLock = true;
              }
          },
          deleteRecord : function (category, index, n) {
              if (this.deleteLock != true){
                  this.overviewList[category][index]['records'][n].deleteTag = true;

                  this.booksviewActive = false;
                  this.booksviewActive = true;
                  this.deleteLock = true;
              }
          },
          cancelRecord : function (category, index, n){
              this.overviewList[category][index]['records'][n].updateTag = false;
              this.overviewList[category][index]['records'][n].deleteTag = false;
              this.updateLock = false;
              this.deleteLock = false;
              this.booksviewActive = false;
              this.booksviewActive = true;
          },
          confirmRecord : function (category, index, n){
              if (this.overviewList[category][index]['records'][n].updateTag) {
                  var vm = this;
                  var updateBody = {
                      "token":sessionStorage["token"],
                      "bookID":vm.overviewList[category][index].ID,
                      "recordID":vm.overviewList[category][index]['records'][n].ID,
                      "pages":parseInt(vm.updatePages),
                      "note":vm.updateDescription
                  }
                  vm.$http.put("http://127.0.0.1:8080/api/v1/bookrecords/update",updateBody).then((response) => {
                      this.overviewList = {};
                      this.updatePages=0;
                      this.updateDescription="";
                      this.updateCategory="";
                      this.updateBookName="";
                      vm.getBooks();
                  },(response) => {
                      alert(response.data["error"])
                  })
              } else if (this.overviewList[category][index]['records'][n].deleteTag){
                  var vm = this;
                  var deleteBody = {
                      "token":sessionStorage["token"],
                      "bookID":this.overviewList[category][index].ID,
                      "recordID":this.overviewList[category][index]['records'][n].ID
                  }
                  vm.$http.delete("http://127.0.0.1:8080/api/v1/books/delete",{body: deleteBody}).then((response) => {
                      this.overviewList = {};
                      vm.getBooks();
                  },(response) => {
                      alert(response.data["error"])
                  })
              }
              this.overviewList[category][index]['records'][n].updateTag = false;
              this.overviewList[category][index]['records'].deleteTag = false;
              this.updateLock = false;
              this.deleteLock = false;
          }
      }
  })
  </script>
</html>
